<header>
  <h1><img src="icons/shopping-bag.png" alt="shopping-icon" /><%= title %></h1>
  <div class="credits">
    Developed by MetalSnow |
    <a href="https://github.com/MetalSnow" target="_blank"
      >GitHub
      <img src="icons/github.svg" alt="github-logo" class="github-logo" />
    </a>
  </div>
</header>
