<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <%- include('partials/header', {title: title}) %>
    <div class="index-container">
      <a href="/categories" class="start-link">Start Shopping</a>
    </div>
    <%- include('partials/footer') %>
  </body>
</html>
