@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

body {
  margin: 0;
  font-family: 'Fira Sans', Arial, Helvetica, sans-serif;
  height: 100vh;
  background-color: rgb(255, 255, 233);
  display: grid;
  grid-template-rows: auto 1fr auto;

  & header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    border-bottom: 1px solid rgb(231, 231, 231);
    box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.3);

    & h1 {
      margin: 0;
      color: rgb(2, 55, 5);
      display: flex;
      align-items: center;
      gap: 0.5rem;
      & img {
        width: 40px;
      }
    }

    & img {
      width: 15px;
    }

    & .credits {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2px;

      & a {
        text-decoration: none;
        font-size: 16px;
        font-weight: bold;
        color: black;
        &:hover {
          color: red;
        }
      }
      & a:hover .github-logo {
        filter: invert(18%) sepia(100%) saturate(7463%) hue-rotate(-15deg)
          brightness(104%) contrast(109%);
      }
    }
  }

  & .index-container {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    & .start-link {
      text-align: center;
      font-size: 1.5rem;
      padding: 40px;
      border-radius: 20px;
      font-weight: 800;
      color: rgb(2, 55, 5);
      background-color: greenyellow;
      text-decoration: none;
      will-change: transform;
      animation: bounce linear 1s alternate infinite;

      &:hover {
        opacity: 0.8;
      }
    }
  }

  & .categories-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    & section {
      width: 100%;
      font-size: 1.5rem;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 400px));
      align-items: center;
      justify-content: center;
      gap: 3rem;

      & div {
        text-align: center;
        & ul {
          list-style: none;
          padding: 0;
          height: 286px;
          overflow-y: auto;
          & li {
            padding: 20px;
            display: flex;
            gap: 2rem;
            align-items: center;
            font-size: 2rem;
            border-bottom: 1px solid gray;
            & form {
              display: flex;
              align-items: center;
              width: 100px;

              & input {
                padding: 5px 10px;
                font-size: 0.9rem;
              }
            }

            & button {
              background-color: #04aa6d;
            }

            & .delete-btn {
              background-color: rgb(125, 2, 2);
              color: white;
            }
          }
        }
      }
    }

    & .category-link {
      font-size: 1.1rem;
      background-color: transparent;
      border: none;
      color: rgb(2, 75, 33);
      text-decoration: underline;
      cursor: pointer;

      &:hover {
        color: rgb(55, 135, 108);
        text-decoration: none;
      }
    }
  }

  & .items-container {
    position: relative;
    padding: 50px;
    & h2 {
      text-align: center;
    }

    & ul {
      padding: 0;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      justify-content: center;
      align-items: center;
      gap: 2rem;
      list-style: none;

      & li {
        height: 270px;
        background-color: #d3ffef;
        border-radius: 20px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
        & p:first-child {
          font-size: 1.1rem;
          text-align: center;
          font-weight: bold;
          color: rgb(129, 57, 6);
        }

        & .edit-form {
          flex-direction: column;
          gap: 0.4rem;

          & input {
            font-size: 0.9em;
          }
        }

        & button {
          background-color: #00432a;
        }

        & .delete-btn {
          background-color: rgb(125, 2, 2);
          color: white;
        }

        & span {
          font-weight: bold;
          color: rgb(29, 59, 59);
          letter-spacing: 1px;
        }
      }
    }

    & #addItem {
      position: absolute;
      top: 9%;
      left: 4%;
      box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.3);
    }
    & .back-link {
      margin-top: 0px;
      position: absolute;
      top: 0%;
      left: 1%;
    }
  }

  & button {
    background-color: black;
    border-radius: 4px;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }
  }

  & dialog {
    padding: 20px 100px;
    & form {
      display: flex;
      flex-direction: column;
      & input {
        font-size: 1rem;
        padding: 2px 4px;
        margin-bottom: 12px;
      }
      & #sellerName {
        padding: 2px 4px;
        font-size: 1rem;
      }
    }
    & div {
      margin-top: 15px;
    }
  }

  & .back-link {
    margin-top: 20px;
    padding: 10px;
    font-weight: bold;
    color: blueviolet;

    &:hover {
      color: red;
      text-decoration: none;
    }
  }

  & footer {
    padding: 10px;
    font-size: 14px;
  }
}

@keyframes bounce {
  0% {
    transform: translateY(10%);
  }
  100% {
    transform: translateY(0);
  }
}
